NameVirtualHost *:80

<VirtualHost *:80>
    ServerName "{{ httpd_domain }}"
    ServerAlias "{{ httpd_domain_alias }}"
    
    ProxyPass "/static" !
    ProxyPass "/" "http://172.19.199.3:8000/" retry=1 acquire=3000 timeout=600 Keepalive=On
    ProxyPassReverse "/" "http://172.19.199.3:8000/"
    
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"" combined
    CustomLog /var/log/httpd/{{httpd_domain}}_access.log combined
    ErrorLog /var/log/httpd/{{httpd_domain}}_error.log
    
    Alias /static "/opt/mailman/web/static/"  
    <Directory "/opt/mailman/web/static/">  
        Options +Indexes  
        AllowOverride None  
        Order allow,deny  
        Allow from all
    </Directory>

</VirtualHost>
