version: '2'

services:
  mailman-core:
    image: maxking/mailman-core
    container_name: mailman-core
    hostname: mailman-core
    volumes:
    - /opt/mailman/core:/opt/mailman/
    stop_grace_period: 30s
    links:
    - database:database
    depends_on:
    - database
    environment:
    - DATABASE_URL={{ DATABASE_URL }}
    - DATABASE_TYPE=postgres
    - DATABASE_CLASS=mailman.database.postgresql.PostgreSQLDatabase
    - HYPERKITTY_API_KEY={{ HYPERKITTY_API_KEY }}
    restart: always
    networks:
      mailman:
        ipv4_address: 172.19.199.2

  mailman-web:
    image: maxking/mailman-web
    container_name: mailman-web
    hostname: mailman-web
    depends_on:
    - database
    links:
    - mailman-core:mailman-core
    - database:database
    volumes:
    - /opt/mailman/web:/opt/mailman-web-data
    environment:
    - DATABASE_TYPE=postgres
    - DATABASE_URL={{ DATABASE_URL }}
    - HYPERKITTY_API_KEY={{ HYPERKITTY_API_KEY }}
    - SERVE_FROM_DOMAIN={{ SERVE_FROM_DOMAIN }}
    - MAILMAN_ADMIN_USER={{ MAILMAN_ADMIN_USER }}
    - MAILMAN_ADMIN_EMAIL={{ MAILMAN_ADMIN_EMAIL }}
    - SECRET_KEY={{ SECRET_KEY }}
    restart: always
    networks:
      mailman:
        ipv4_address: 172.19.199.3

  database:
    environment:
      POSTGRES_DB: {{ POSTGRES_DB }}
      POSTGRES_USER: {{ POSTGRES_USER }}
      POSTGRES_PASSWORD: {{POSTGRES_PASSWORD}}
    restart: always
    image: postgres:9.6-alpine
    volumes:
    - /opt/mailman/database:/var/lib/postgresql/data
    networks:
      mailman:
        ipv4_address: 172.19.199.4

networks:
   mailman:
     driver: bridge
     ipam:
       driver: default
       config:
       -
         subnet: 172.19.199.0/24
